<div class="section" id="carousel">
  <div class="container">
    <div class="tim-title">
      <!-- <h3>View **'s Portfolio</h3> -->
    </div>
    <div class="card page-carousel">
      <ngb-carousel data-interval="false" style="height: 77vh;">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="picsum-img-wrapper">
            <img src="https://portfoliosrc.s3.amazonaws.com/portfolio_png/jaewook/{{img}}.jpg" alt="{{i+1}} 번째 포트폴리오">
            <div class="carousel-caption">
              <!-- <p>Page {{i}}</p> -->
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <button class="btn btn-default" style="float: right;" (click)="doCancel()">Done</button>
  </div>
</div>