.carousel-inner .carousel-item img .card page-carousel {
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    height: 100% !important;
    width: 100%;
}


app-navbar {
    display: none;
}


html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}