<div class="section" id="carousel">
  <div class="container">
    <div class="tim-title">
      <h3>View **'s Portfolio</h3>
    </div>
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="./assets/img/myapo/port-1.jpg" alt="Random first slide">
              <div class="carousel-caption">
                <p>Page 1</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/myapo/port-2.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <p>Page 2</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/myapo/port-3.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <p>Page 3</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
  </div>
</div>

