/* You can add global styles to this file, and also import other style files */
@import "assets/sass/paper-kit.scss";

/*@font-face {
    font-family: 'Noto Sans CJK';
    src: url('assets/fonts/NotoSansCJKkr-Regular.otf');
}*/
html { height: 100%; }
body { height: 90%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
