<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500"> -->
<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{
        'navbar-transparent':isMap() === false,
        'navbar-transparent-map':isMap() === true
    }" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="nav-brand" rel="tooltip" title="GitHub" data-placement="bottom"
                href="https://github.com/kookmin-sw/capstone-2020-3" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="navbar-brand" href="/"> MAIAPO</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- 로그인 안되어 있을 경우 -->
                <li class="nav-item" *ngIf="!isLogin()">
                    <a href="./signin" class="nav-link"><i class="nc-icon nc-button-power"></i> Sign In</a>
                </li>
                <li class="nav-item" *ngIf="!isLogin()">
                    <a href="./signup" class="nav-link"><i class="nc-icon nc-single-02"></i> Sign Up</a>
                </li>

                <!-- 로그인 되어 있을 경우 -->
                <li class="nav-item sign-out" *ngIf="isLogin()">
                    <a class="nav-link" (click)="doLogout()"><i class="nc-icon nc-button-power"></i> Sign Out</a>
                </li>
                <li class="nav-item" *ngIf="isLogin()">
                    <!-- 미완성 -->
                    <a href="./portfolio" class="nav-link"><i class="nc-icon nc-single-copy-04"></i> Portforlio</a>
                </li>
                <li class="nav-item" *ngIf="isLogin()">
                    <a href="./user-profile" class="nav-link"><i class="nc-icon nc-badge"></i> My Analysis</a>
                </li>
                    <!-- <a href="./user-profile" class="nav-link"><i class="nc-icon nc-chart-bar-32"></i> My Page</a> -->
                    <!-- <a href="./compares" class="btn btn-warning btn-round"><i class="nc-icon nc-chart-bar-32">&nbsp;</i> Chart</a> -->
            </ul>
        </div>
    </div>
</nav>