a:hover {
    cursor:pointer;
}

.sign-out {
    .nav-link {
        color:tomato !important;
    }
}

.nav-mise-logo {
    width: 12px;
}

.dropdown-menu {
    padding: 15px !important;

    .dropdown-item {
        border-radius: 0px !important;
    }
}

