<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/home-background.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img src="assets/img/myapo/woman_with_happy.png" style="width: 369px;" alt="">
                    <h1 class="presentation-title">MAIAPO</h1>
                </div>

                <h2 class="presentation-subtitle text-center">My Eyetracking Portfolio</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class="category-absolute ml-auto mr-auto">Copyright © Eye-Go. All rights reserved.</h6>
    </div>
</div>