.card-register {
    background-color: #51bcda;
    
    .title {
        color: #ffffff;
        text-align: center;
    }

    .btn-black {
        background-color: #000000;
        border-color: #000000;
    }
}
