.edit-owner {
    margin-top: 5vh;
    margin-bottom: -3vh;
}

.btn-position {
    position: relative;
    left: -40px;
    top: 10px;
}

.card-register {
    background-color: #51bcda !important;
    margin: 0px !important;
    max-width: 500px!important;
    color: black;
    
    .title {
        color: #ffffff;
        text-align: center;
    }
}

.close {
    float: right;
    font-size: 2.5rem;
}

#cen {
    margin-top:8px;
    font-size: 1rem;
}

.title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

h6 {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1em;
    text-transform: lowercase;
    margin-bottom: 0px !important;
}

.user-gender {
    padding-left: 10px;
}

.description{
    margin-bottom: 0px;
}

.img-edit-circle {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 50% !important;
    width: 100px;
}

p{
    font-size: 16px;
}

.form-check-radio {
    margin-top: 12px;

    label {
        margin-top: 0px;
    }
}

/* 이미지 수정버튼에 대한 정의 - start */
.image-input {
    display: none;
}

.image-upload-container {
    cursor: pointer;
}

.img-preview-container {
    background-color: #f7f7f7;
    position: relative;

    .img-preview {
        background: center center no-repeat;
        background-size: contain;
        height: 116px;
        width: 116px;

            &-error {
                display: none;
            }
        }
    }

.img-loading-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

.img-spinning-circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.img-spinning-circle:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 이미지 수정버튼에 대한 정의 - end */