<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
    </div>
    <div class="header bg-gradient-danger pb-5 pt-5 pt-md-5">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">HeatMap</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card page-carousel">
                        <ngb-carousel data-interval="false">
                            <ng-template ngbSlide *ngFor="let img of images; index as i">
                                <div class="picsum-img-wrapper">
                                    <img src="https://portfoliosrc.s3.amazonaws.com/heatmap/portfolio/{{img}}.png" alt="{{i+1}} 번째 포트폴리오">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">My Portfolio</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card page-carousel">
                        <ngb-carousel data-interval="false">
                            <ng-template ngbSlide *ngFor="let img of images; index as i">
                                <div class="picsum-img-wrapper">
                                    <img src="https://portfoliosrc.s3.amazonaws.com/portfolio_png/jaewook/{{img}}.png"
                                        alt="{{i+1}} 번째 포트폴리오">
                                    <div class="carousel-caption">
                                        <p>Page {{i}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Tag Cloud</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card page-carousel">
                        <ngb-carousel data-interval="false">
                            <ng-template ngbSlide *ngFor="let img of images; index as i">
                                <div class="picsum-img-wrapper">
                                    <img src="https://portfoliosrc.s3.amazonaws.com/portfolio_png/{{nickName}}/{{nickName}}_final.png" style="max-height: 100%;"
                                        alt="{{i+1}} 번째 포트폴리오">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Top 5 Word</h6>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Word</th>
                                    <th scope="col">Rank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        AWS                                    </th>
                                    <td>
                                        1
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        빅데이터 클라우드
                                    </th>
                                    <td>
                                        2
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        클라우드 경험은
                                    </th>
                                    <td>
                                        3
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        경험은 있어
                                    </th>
                                    <td>
                                        4
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        빅데이터
                                    </th>
                                    <td>
                                        5
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- </div> -->
    </div>

</div>
