<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img [src]="onGetUserProfileImage()" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div>
                    <h4 class="title">{{ this.userInfo.firstName }}  {{ this.userInfo.lastName }} <span *ngIf="this.userInfo.nickName != ''">({{ this.userInfo.nickName }})</span></h4>
                    <h6>{{ this.userInfo.userId }} <span *ngIf="this.userInfo.genderDisp != ''">({{ this.userInfo.genderDisp }})</span></h6>
                </div>
            </div>
            <div class="row" style="margin-top: 7vh;">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p *ngIf="this.userInfo.birthday != ''">Birthday: {{ this.userInfo.birthday }}</p>
                    <p>Join Date: {{ onLocalDate(this.userInfo.regDate, 'yyyy-MM-dd') }}</p>
                    <p>Edit Date: {{ onLocalDate(this.userInfo.editDate, 'yyyy-MM-dd') }}</p>
                    <p class="description" *ngIf="this.userInfo.profileContents != ''">{{ this.userInfo.profileContents }}</p>
                    <div style="margin-top: 15px;">
                        <button class="btn btn-outline-default btn-round" (click)="openEditPopup()"><i class="fa fa-cog"></i> Edit Profile</button><br><br>
                        <button class="btn btn-outline-default btn-round" (click)="changePasswordPopup()"><i class="fa fa-cog"></i> Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

