<div class="card card-register">
    <h3 class="title">Edit Profile
        <button type="button" class="close" aria-label="Close" (click)="closeModal('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </h3>
    
    <div class="owner edit-owner">
        <div>
            <div class="avatar">
                <img [src]="onGetUserProfileImage()" alt="Circle Image" class="img-edit-circle img-no-padding img-responsive">
            </div>
            <!-- <button type="button" class="btn btn-just-icon btn-position"><i class="fa fa-edit"></i></button> -->

            <label class="btn btn-just-icon btn-position image-upload-container">
                <i class="fa fa-edit"></i>
                <input #imageInput
                    class="image-input"
                    type="file"
                    accept="image/*"
                    (change)="doChoiceImgeFile(imageInput)">
            </label>        
        </div>
    </div>
    <form [formGroup]="editForm" class="register-form" (ngSubmit)="onSubmit()">
        <!-- 이름 -->
        <label for="firstName">First Name</label>
        <div class="input-group form-group-no-border">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-single-02"></i>
                </span>
            </div>

            <input name="firstName" type="text" formControlName="firstName" class="form-control" placeholder="First Name">
            <div *ngIf="f.firstName.errors" class="form-control-feedback">
                <div *ngIf="f.firstName.errors?.required">{{ 'MESSAGE.ERROR.REQUIRED' | translate }}</div>
            </div>

        </div>

        <!-- 이름(성) -->
        <label for="lastName">Last Name</label>
        <div class="input-group form-group-no-border">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-single-02"></i>
                </span>
            </div>

            <input name="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
            <div *ngIf="f.lastName.errors" class="form-control-feedback">
                <div *ngIf="f.lastName.errors?.required">{{ 'MESSAGE.ERROR.REQUIRED' | translate }}</div>
            </div>
        </div>

        <!-- 닉네임 -->
        <label for="nickName">Nick Name</label>
        <div class="input-group form-group-no-border">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-single-02"></i>
                </span>
            </div>

            <input type="text" name="nickName" formControlName="nickName" class="form-control" placeholder="Nick Name">
            <div *ngIf="submitted && f.nickName.errors" class="form-control-feedback"></div>
        </div>

        <!-- 생일 -->
        <label for="birthday">Birth Day</label>
        <div class="input-group form-group-no-border">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
            <input name="birthday" [(ngModel)]="userBirthday" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="{{ this.userInfo.birthday }}" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        </div>

        <!-- 성별 -->
        <label for="gender">Gender</label>
        <div class="input-group form-group-no-border user-gender">
            <div class="form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="H" checked> {{ 'SELECT.OPTION.LABELS.GENDER_H' | translate }}
                    <span class="form-check-sign"></span>
                </label>
            </div>
            <div class="form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="F"> {{ 'SELECT.OPTION.LABELS.GENDER_F' | translate }}
                    <span class="form-check-sign"></span>
                </label>
            </div>
            <div class="form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="M"> {{ 'SELECT.OPTION.LABELS.GENDER_M' | translate }}
                    <span class="form-check-sign"></span>
                </label>
            </div>
            <div class="form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="O"> {{ 'SELECT.OPTION.LABELS.GENDER_O' | translate }}
                    <span class="form-check-sign"></span>
                </label>
            </div>  
        </div>

        <!-- 사용자소개 -->
        <label for="profileContents">User Introduction</label>
        <textarea name="profileContents" formControlName="profileContents" class="form-control" rows="3" placeholder="User Introduction"></textarea>
        
        <button class="btn btn-default btn-block btn-round">{{ 'BUTTONS.TITLE.UPDATE' | translate }}</button>
    </form>
</div>